<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplo Django</title>
</head>
<body>
    <h1>Hola Mundo</h1>
</body>
</html><!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h2>Inicio de Sesión</h2>
    {% if error %}<p style="color:red">{{ error }}</p>{% endif %}
    <form method="post">
        {% csrf_token %}
        <label for="username">Usuario:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Contraseña:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <button type="submit">Ingresar</button>
    </form>
</body>
</html>